{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="my-5 p-3 border border-primary-muted shadow rounded word-details">

            <p>
                ბიბლიური წიგნების Ძველი ქართული თარგმანების ანოტირებული ელექტრონული გამოცემა ილიას სახელმწიფო
                უნივერსიტეტის ლინგვისტურ კვლევათა ინსტიტუტის ბაზაზე ხორციელდება ახალგაზრდა მკვლევართა ჯგუფის მიერ.
            </p>

            <p>
                აღნიშნულ გამოცემას უზრუნველყოფს ილიაუნის ტექნიკური ჯგუფი ციფრული ჰუმანიტარიის დოქტორის, თამარ
                კალხიტაშვილის ხელმძღვანელობით. სწორედ ამ ჯგუფის მიერ შეიქმნა პლატფორმა OGB (Old Georgian Bible) –
                http://ogb.iliauni.edu.ge/. მასში ინტეგრირებულია ანოტაციის ხელსაწყო, რომელიც აგებულია HTML, CSS და
                Javascript გამოყენებით და დაკავშირებულია PostgreSQL მონაცემთა ბაზასთან. ხელსაწყო განთავსებულია OGB-ს
                პლატფორმაზე პარალელურად ანოტირებული ტექსტების გვერდით მარჯვენა კუთხეში და მკვლევრებს კონკრეტული
                ხელნაწერი ტექსტის ანოტირების შესაძლებლობას აძლევს. განახლებები ავტომატურად აისახება მონაცემთა ბაზაში.
                პლატფორმა მომხმარებლებს ასევე აძლევს საშუალებას, ჩამოტვირთონ ანოტირებული ტექსტები XML ფორმატში.
            </p>

            <p>
                ბიბლიური წიგნების Ძველი ქართული თარგმანების ანოტირებულ ელექტრონულ გამოცემაზე მომუშავე ახალგაზრდა
                მკვლევრების მიზანია, შეიქმნას მაღალი ხარისხის ციფრული გამოცემა, რომელიც იქნება მოდელი ახალი და ძველი
                აღთქმის სხვა წიგნების ციფრული გამოცემისთვის.
            </p>

            <p>
                ბიბლიური წიგნების ანოტირებული ელექტრონული კორპუსული გამოცემა ხელმისაწვდომს გახდის ძველ ქართულ თარგმანებს
                უცხოელი მეცნიერებისათვის და შესაძლებელი გახდება მათი ინტეგრირება ბერძნულ ან სხვა ენოვან ციფრულ
                გამოცემებში. შესაბამისად, ანოტირებული პარალელური კორპუსის ბიბლიური წიგნებით გამდიდრებას განსაკუთრებული
                მნიშვნელობა აქვს საერთაშორისო მასშტაბის შემდგომი კვლევებისთვის. პლატფორმის კარი ღიაა ცალკეული ბიბლიური
                წიგნების ძველ ქართულ თარგმანებზე მომუშავე სპეციალისტებისთვის.
            </p>

            <p>
                შოთა რუსთაველის საქართველოს ეროვნული სამეცნიერო ფონდის ახალგაზრდა მეცნიერთა კვლევების 2019 წლის გრანტით
                (YS-19-165) Ნათია დუნდუამ მოამზადა ტობის წიგნის ქართული, ბერძნული და სომხური ვერსიების პარალელური
                ელექტრონული ანოტირებული გამოცემა. აღნიშნული გამოცემა დაფუძნებულია ტექსტოლოგიურ კვლევაზე, რომელიც
                სადოქტორო დისერტაციის ფარგლებში განხორციელდა (ნათია დუნდუა, „ტობის წიგნის ქართული თარგმანი (ტექსტის
                წარმომავლობის, ისტორიისა და თარგმანის ტექნიკის საკითხები“, 2018).
            </p>

            <p>
                ასევე, შოთა რუსთაველის საქართველოს ეროვნული სამეცნიერო ფონდის ახალგაზრდა მეცნიერთა კვლევების 2021 წლის
                გრანტით (YS-21-1562) ეკა კვირკველიამ მოამზადა გიორგი მთაწმინდელის რეცენზიის მათეს სახარების ანოტირებული
                ელექტრონული პარალელური კორპუსული გამოცემა. ციფრულ გამოცემას საფუძვლად უდევს სადოქტორო დისერტაციის
                ფარგლებში განხორციელებული ტექსტოლოგიური კვლევა (ეკა კვირკველია,
                <a href="https://press.tsu.ge/data/image_db_innova/Eka%20Kvirkvelia.pdf" target="_blank" class="link">
                    „სახარების XI საუკუნის ქართული ხელნაწერების კოდიკოლოგიურ-ტექსტოლოგიური ანალიზი და ოთხთავის გიორგი
                    მთაწმინდლისეული რედაქციის ჩამოყალიბების ისტორია“</a>, 2019).
            </p>

            <p>
                DAAD-სა და EU-ს პროგრამის “Georgia’s Researchers Mobility” დაფინანსებით 2023 წელს ნათია დუნდუამ
                ჰელსინკის უნივერსიტეტში მოამზადა ეკლესიასტეს ანოტირებული ელექტრონული სინოპტიკური გამოცემა.
            </p>

            <p>
                ამ ეტაპზე შოთა რუსთაველის საქართველოს ეროვნული სამეცნიერო ფონდის ახალგაზრდა მეცნიერთა კვლევების 2025
                წლის გრანტით (YS-25-366) ეკა კვირკველია ამზადებს მარკოზის სახარების ანოტირებულ პარალელურ ციფრულ
                გამოცემას.
            </p>

            <p class="mb-4">
                ტექსტების ანოტირების პროცესში ჩართულია თსუ-ს შუა საუკუნეების ქრისტიანული აღმოსავლეთის ფილოლოგიის
                სამაგისტრო პროგრამის კურსდამთავრებული, კორნელი კეკელიძის სახელობის საქართველოს ხელნაწერთა ეროვნული
                ცენტრის კოდიკოლოგიისა და ტექსტოლოგიის განყოფილების მეცნიერი თანამშრომელი ნინო გიორგაძე.
            </p>

            <b>ტექნიკური გუნდი:</b>
            <p>
                პლატფორმაზე (დიზაინი და პროგრამირება) სხვადასხვა დროს მუშაობდნენ: ანა გველესიანი, თამარ კალხიტაშვილი,
                გიორგი კვარაცხელია, ბექა კოპაძე, თემურ ჩიჩუა.
            </p>
        </div>
    </div>
{% endblock %}