{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="mt-5 p-3 border border-primary-muted shadow rounded bg-secondary-custom-light">
            <p><b>მორფოლოგიური ანოტირების ძირითადი მეთოდოლოგია</b></p>

            <p>
                ბიბლიური წიგნების Ძველი ქართული თარგმანების მორფოლოგიური ანოტირების პრინციპები ეფუძნება ძველ ქართულ
                ენაში
                იმ თეორიულ ცოდნას, რომელიც ბოლო ათეული წლების განმავლობაში დაგროვდა. შესაბამისად, გათვალისწინებულია
                ყველა ის თავისებურება, რაც ძველ ქართულ ენას ახალთან შედარებით ახასიათებს. Მაგალითად, ანოტირების დროს
                სათანადოდ არის აღნიშნული ორმაგი და სამმაგი ბრუნების ნიმუშები, არტიკლის ფუნქციით გამოყენებული
                ნაცვალსახელები, მომავალი დროის კავშირებითის მწკრივებით გამოხატვის თავისებურება და სხვა. Ბიბლიური
                ტექსტების ამ პრინციპებით ანოტირება შესაბამისი საძიებო სისტემების გამოყენებით შემდგომი ლინგვისტური
                კვლევებისთვის გამზადებულ ემპირიულ მასალას მისცემს ნებისმიერ დაინტერესებულ მკვლევარს.
            </p>

            <p>
                თითოეული სიტყვა-ფორმისთვის მითითებულია ლემა. არსებითი, ზედსართავი და რიცხვითი სახელისთვის ეს არის
                წრფელობითი ბრუნვის ფორმა, იმ შემთხვევაშიც, როდესაც ორმაგი ან სამმაგი ბრუნების ნიმუში გვაქვს. Ჩვენი
                მიზანია, რომ ერთი კონკრეტული ძირით ძიების დროს ტექსტებში მოიძებნოს ყველა არსებული ფორმა.
                ნაცვალსახელებისათვის, მათი ბრუნების თავისებურებიდან გამომდინარე, ლემად მითითებულია სახელობითი ბრუნვის
                ფორმა. კუთვნილებითი ნაცვალსახელის შემთხვევაშიც ვუთითებთ კუთვნილებითი ნაცვალსახელის სახელობითი ბრუნვის
                ფორმას და არა ჩვენებითის, რომლის ნათესაობითი ბრუნვის ფორმისგანაც წარმოსდგება კუთვნილებითი.
            </p>

            <p>
                არსებითი სახელი გარჩეულია შემდეგი კატეგორიების მიხედვით: ბრუნვა და რიცხვი. ზედსართავი სახელის შემთხევაში
                ემატება ხარისხის ფორმა, ხოლო რიცხვითი სახელის შემთხვევაში დაკონკრეტებულია, რაოდენობითია, რიგობითი,
                წილობითი თუ განუსაზღვრელობითი. ნაცვალსახელებთან, ბრუნვისა და რიცხვის გარდა, მითითებულია კატეგორიაც.
            </p>

            <p>
                ზმნებისათვის ლემად გატანილია მესამე პირის მხოლობითი რიცხვის აწმყოს ფორმა სუბიექტური წყობით, როგორც
                სუბიექტური, ასევე, ობიექტური წყობის შემთხვევაში. ლემით ძიების შემთხვევაში სისტემა ტექსტებში არსებულ
                სამივე სერიის ფორმას მოგვცემს. ზმნა გარჩეულია შემდეგი კატეგორიების მიხედვით: მწკრივი, კილო, პირი,
                რიცხვი. გამოყოფილია ზმნისწინებიც.
            </p>

            <p>
                ბერძნული შესატყვისიდან გამომდინარე გვიწევს დეფისით შეერთება ისეთი ფორმებისა, რომლებიც სხვადასხვა
                გამოცემაში ძირითადად უდეფისოდ არის დაწერილი. ასეთებია, მაგალითად, 1. აღწერითი ფორმით გამოხატული მომავალი
                (მოსვლად-არს) 2. აღწერითი ვნებითის ფორმები (გაკეთებულ-იქნა). 3. Მეშველი ზმნით ნაწარმოები მესამე სერიის
                ფორმები (ყოფილ-არს). 4. Რთული ზმნები (გულისჴმა-ყვეს).
            </p>

            <p>
                ანოტირებისას ყოველთვის აღვნიშნავთ სუბიექტის პირსა და რიცხვს. Რაც შეეხება ობიექტს / ობიექტებს, აღნიშვნის
                პრინციპად ავიღეთ მორფოლოგია, ანუ ანოტირებისას ობიექტს აღვნიშნავთ იმ შემთხვევაში, თუკი ზმნაში
                წარმოდგენილია მისი მარკერი: ა) პირის ნიშანი, ბ) რიცხვის ნიშანი (სახელობითში მდგარი ობიექტის
                მრავლობითობა), გ) პირთა სამიმართებო პრეფიქსები.
            </p>

            <p>
                ანოტირების დროს თითოეულ სიტყვა-ფორმას ეთითება ბერძნული, სომხური და ინგლისური თარგმანი. გარდა ამისა,
                ვეყრდნობით ამ კუთხით არსებულ საერთაშორისო გამოცდილებას. კერძოდ, ვითვალისწინებთ Bible Works 10-ის
                (Version 10.0.5.301), <a href="https://en.katabiblon.com/us/index.php?text=GNT" class="link">Kata
                Biblon-ისა</a> და <a href="https://arak29.org/bible/book/" class="link">სომხური ბიბლიის</a>
                ანოტირებული ელექტრონული გამოცემების გამოცდილებას.
            </p>
        </div>

        <div class="mt-5 mb-5 p-3 border border-primary-muted shadow rounded bg-secondary-custom-light">
            <p><strong>გრამატიკული მახასიათებლები</strong></p>

            <table class="table table-secondary-custom table-bordered bg-secondary-custom">
                <tr class="text-bold">
                    <th>თეგი</th>
                    <th>ინგლისური დასახელება</th>
                    <th>ქართული დასახელება</th>
                </tr>

                <tr class="text-bold">
                    <td>N</td>
                    <td>Noun</td>
                    <td>არსებითი სახელი</td>
                </tr>
                <tr>
                    <td>Personal Name</td>
                    <td>Personal Name</td>
                    <td>ანთროპონიმი</td>
                </tr>
                <tr>
                    <td>Place Name</td>
                    <td>Place Name</td>
                    <td>ტოპონიმი</td>
                </tr>
                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>
                <tr>
                    <td>Abs</td>
                    <td>Absolutive</td>
                    <td>წრფელობითი</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Nominative</td>
                    <td>სახელობითი</td>
                </tr>
                <tr>
                    <td>Erg</td>
                    <td>Ergative</td>
                    <td>მოთხრობითი</td>
                </tr>
                <tr>
                    <td>Dat</td>
                    <td>Dative</td>
                    <td>მიცემითი</td>
                </tr>
                <tr>
                    <td>Gen</td>
                    <td>Genitive</td>
                    <td>ნათესაობითი</td>
                </tr>
                <tr>
                    <td>Instr</td>
                    <td>Instrumental</td>
                    <td>მოქმედებითი</td>
                </tr>
                <tr>
                    <td>Adv</td>
                    <td>Adverbialis</td>
                    <td>ვითარებითი</td>
                </tr>
                <tr>
                    <td>Voc</td>
                    <td>Vocative</td>
                    <td>წოდებითი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td>DNom</td>
                    <td>Double declension Nominative</td>
                    <td>ნანათესაობითარი სახელობითი</td>
                </tr>
                <tr>
                    <td>DErg</td>
                    <td>Double declension Ergative</td>
                    <td>ნანათესაობითარი მოთხრობითი</td>
                </tr>
                <tr>
                    <td>DDat</td>
                    <td>Double declension Dative</td>
                    <td>ნანათესაობითარი მიცემითი</td>
                </tr>
                <tr>
                    <td>DGen</td>
                    <td>Double declension Genitive</td>
                    <td>ნანათესაობითარი ნათესაობითი</td>
                </tr>
                <tr>
                    <td>DInstr</td>
                    <td>Double declension Instrumental</td>
                    <td>ნანათესაობითარი მოქმედებითი</td>
                </tr>
                <tr>
                    <td>DAdv</td>
                    <td>Double declension Adverbialis</td>
                    <td>ნანათესაობითარი ვითარებითი</td>
                </tr>
                <tr>
                    <td>DVoc</td>
                    <td>Double declension Vocative</td>
                    <td>ნანათესაობითარი წოდებითი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td>DDNom</td>
                    <td>Triple declension Nominative</td>
                    <td>სამმაგი ნანათესაობითარი სახელობითი</td>
                </tr>
                <tr>
                    <td>DDErg</td>
                    <td>Triple declension Ergative</td>
                    <td>სამმაგი ნანათესაობითარი მოთხრობითი</td>
                </tr>
                <tr>
                    <td>DDDat</td>
                    <td>Triple declension Dative</td>
                    <td>სამმაგი ნანათესაობითარი მიცემითი</td>
                </tr>
                <tr>
                    <td>DDGen</td>
                    <td>Triple declension Genitive</td>
                    <td>სამმაგი ნანათესაობითარი ნათესაობითი</td>
                </tr>
                <tr>
                    <td>DDInst</td>
                    <td>Triple declension Instrumental</td>
                    <td>სამმაგი ნანათესაობითარი მოქმედებითი</td>
                </tr>
                <tr>
                    <td>DDAdvb</td>
                    <td>Triple declension Adverbialis</td>
                    <td>სამმაგი ნანათესაობითარი ვითარებითი</td>
                </tr>
                <tr>
                    <td>DDVoc</td>
                    <td>Triple declension Vocative</td>
                    <td>სამმაგი ნანათესაობითარი წოდებითი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td>ADJ</td>
                    <td>Adjective</td>
                    <td>ხედსართავი სახელი</td>
                </tr>

                <tr>
                    <td>Comp</td>
                    <td>Comparative</td>
                    <td>ოდნაობითი</td>
                </tr>

                <tr>
                    <td>Sup</td>
                    <td>Superlative</td>
                    <td>უფროობითი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td></td>
                    <td>Numbers</td>
                    <td>რიცხვი</td>
                </tr>

                <tr>
                    <td>Sg</td>
                    <td>Singular</td>
                    <td>მხოლობითი რიცხვი</td>
                </tr>
                <tr>
                    <td>Pl 1</td>
                    <td>Plural 1</td>
                    <td>მრავლობითი რიცხვი, -ნ, -თ სუფიქსიანი</td>
                </tr>
                <tr>
                    <td>Pl 2</td>
                    <td>Plural 2</td>
                    <td>მრავლობითი რიცხვი, - ებ-იანი</td>
                </tr>
                <tr>
                    <td>Coll</td>
                    <td>Collactive Noun</td>
                    <td>კრებითი არსებითი სახელი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td>NUM</td>
                    <td>Numeral</td>
                    <td>რიცხვითი სახელი</td>
                </tr>

                <tr>
                    <td>Card</td>
                    <td>Cardinal</td>
                    <td>რაოდენობითი რიცხვითი სახელი</td>
                </tr>
                <tr>
                    <td>Ord</td>
                    <td>Ordinal</td>
                    <td>რიგობითი რიცხვითი სახელი</td>
                </tr>
                <tr>
                    <td>Frac</td>
                    <td>Fraction</td>
                    <td>წილობითი რიცხვითი სახელი</td>
                </tr>
                <tr>
                    <td>Digits</td>
                    <td>Digits</td>
                    <td>ციფრი</td>
                </tr>
                <tr>
                    <td>Indef</td>
                    <td>Indefinite</td>
                    <td>განუსაზღვრელობითი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td>PRON</td>
                    <td>Pronoun</td>
                    <td>ნაცვალსახელი</td>
                </tr>
                <tr>
                    <td>Pers</td>
                    <td>Personal</td>
                    <td>პირის</td>
                </tr>
                <tr>
                    <td>Dem</td>
                    <td>Demonstrative</td>
                    <td>ჩვენებითი</td>
                </tr>
                <tr>
                    <td>Poss</td>
                    <td>Possessive</td>
                    <td>კუთვნილებითი</td>
                </tr>
                <tr>
                    <td>Int</td>
                    <td>Interrogative</td>
                    <td>კითხვითი</td>
                </tr>
                <tr>
                    <td>Poss-Int</td>
                    <td>Possessive-Interrogative</td>
                    <td>კითხვით-კუთვნილებითი</td>
                </tr>
                <tr>
                    <td>Rel</td>
                    <td>Relative</td>
                    <td>მიმართებითი</td>
                </tr>
                <tr>
                    <td>Def</td>
                    <td>Definite</td>
                    <td>განსაზღვრებითი</td>
                </tr>
                <tr>
                    <td>Indef</td>
                    <td>Indefinite</td>
                    <td>განუსაზღვრელობითი</td>
                </tr>
                <tr>
                    <td>Neg</td>
                    <td>Negative</td>
                    <td>უარყოფითი</td>
                </tr>
                <tr>
                    <td>Recip</td>
                    <td>Reciprocal</td>
                    <td>ურთიერთობითი (უკუქცევითი)</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td>ART</td>
                    <td>Article</td>
                    <td>ნაწევარი/არტიკლი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td>PRT</td>
                    <td>particle</td>
                    <td>ნაწილაკი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td>CONJ</td>
                    <td>Conjunction</td>
                    <td>კავშირი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td>ADV</td>
                    <td>Adverb</td>
                    <td>ზმნიზედა</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td>ITJ</td>
                    <td>Interjection</td>
                    <td>შორისდებული</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td>PP</td>
                    <td>Postposition</td>
                    <td>თანდებული</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td>INF</td>
                    <td>Infinitive</td>
                    <td>საწყისი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td>PART</td>
                    <td>Participle</td>
                    <td>მიმღეობა</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td></td>
                    <td>Tense</td>
                    <td>დრო</td>
                </tr>
                <tr>
                    <td>Past</td>
                    <td>Past</td>
                    <td>წარსული</td>
                </tr>
                <tr>
                    <td>Fut</td>
                    <td>Future</td>
                    <td>მომავალი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td>V</td>
                    <td>Verb</td>
                    <td>ზმნა</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td></td>
                    <td>Tense</td>
                    <td>დრო</td>
                </tr>
                <tr>
                    <td>DescFut</td>
                    <td>Descriptive Future</td>
                    <td>აღწერითი მომავალი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td></td>
                    <td>Screeves</td>
                    <td>მწკრივები</td>
                </tr>
                <tr>
                    <td>Pres</td>
                    <td>Present</td>
                    <td>აწმყო</td>
                </tr>
                <tr>
                    <td>PresIter</td>
                    <td>Iterative Present</td>
                    <td>აწმყოს ხოლმეობითი</td>
                </tr>
                <tr>
                    <td>Imperf</td>
                    <td>Imperfect</td>
                    <td>უწყვეტელი</td>
                </tr>
                <tr>
                    <td>Imp1</td>
                    <td>1st Imperative</td>
                    <td>პირველი ბრძანებითი</td>
                </tr>
                <tr>
                    <td>ImperfIter</td>
                    <td>Iterative Imperfect</td>
                    <td>უწყვეტლის ხოლმეობითი</td>
                </tr>
                <tr>
                    <td>Fut1</td>
                    <td>1st Future</td>
                    <td>პირველი კავშირებითი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td>Aor</td>
                    <td>Aorist</td>
                    <td>წყვეტილი</td>
                </tr>
                <tr>
                    <td>Imp2</td>
                    <td>2nd Imperative</td>
                    <td>მეორე ბრძანებითი</td>
                </tr>
                <tr>
                    <td>Iter2</td>
                    <td>2nd Iterative</td>
                    <td>მეორე ხოლმეობითი</td>
                </tr>
                <tr>
                    <td>Fut2</td>
                    <td>2st Future</td>
                    <td>მეორე კავშირებითი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td>Perf</td>
                    <td>Perfect</td>
                    <td>პირველი თურმეობითი</td>
                </tr>
                <tr>
                    <td>Pluperf</td>
                    <td>Pluperfect</td>
                    <td>მეორე თურმეობითი</td>
                </tr>
                <tr>
                    <td>Iter3</td>
                    <td>3rd Iterative</td>
                    <td>მესამე ხოლმეობითი</td>
                </tr>
                <tr>
                    <td>Fut3</td>
                    <td>3rd Future</td>
                    <td>მესამე კავშირებითი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td></td>
                    <td>Mood</td>
                    <td>კილო</td>
                </tr>
                <tr>
                    <td>Ind</td>
                    <td>Indicative</td>
                    <td>თხრობითი</td>
                </tr>
                <tr>
                    <td>AffImp</td>
                    <td>Affirmative imperative</td>
                    <td>წართქმითი ბრძანებითი</td>
                </tr>
                <tr>
                    <td>NegImp</td>
                    <td>Negative Imperative</td>
                    <td>უკუთქმითი ბრძანებითი</td>
                </tr>
                <tr>
                    <td>Conj</td>
                    <td>Conjunctive</td>
                    <td>კავშირებითი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td></td>
                    <td>Person</td>
                    <td>პირი</td>
                </tr>
                <tr>
                    <td>S1</td>
                    <td>1st subjective person</td>
                    <td>I სუბიექტური პირი</td>
                </tr>
                <tr>
                    <td>S2</td>
                    <td>2nd subjective person</td>
                    <td>II სუბიექტური პირი</td>
                </tr>
                <tr>
                    <td>S3</td>
                    <td>3rd subjective person</td>
                    <td>III სუბიექტური პირი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td>O1</td>
                    <td>1st objective person</td>
                    <td>I ობიექტური პირი</td>
                </tr>
                <tr>
                    <td>O2</td>
                    <td>2nd objective person</td>
                    <td>II ობიექტური პირი</td>
                </tr>
                <tr>
                    <td>O3</td>
                    <td>3rd objective person</td>
                    <td>III ობიექტური პირი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td></td>
                    <td>Voice</td>
                    <td>გვარი</td>
                </tr>
                <tr>
                    <td>Pass</td>
                    <td>Descriptive Passive</td>
                    <td>აღწერითი ვნებითი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td>Tmesis</td>
                    <td>Tmesis</td>
                    <td>ტმესი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td>PREV</td>
                    <td>Preverbs</td>
                    <td>ზმნისწინი</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td>PREP</td>
                    <td>Preposition</td>
                    <td>წინდებული</td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr class="text-bold">
                    <td>INDEC</td>
                    <td>Indeclinable</td>
                    <td>უბრუნველი სიტყვა</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}